### IntelliJ IDEA ###
*.idea
*.iws
*.iml
*.ipr

### Mac OS ###
.DS_Store

### Build files ###
target/

### Log files ###
*.log

### Configuration files ###
application.properties


### Test data ###
test_logs/

### User data ###
config/UserData/

### Screenshots ###
screenshots/



